body {
	align-items: flex-start;
	display: flex;
	font: 12px sans-serif;
	line-height: 1;
	margin: 25px 0 0 50px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset:not(:last-child) {
	border-bottom: 1px solid #c9c9c9;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

legend {
	color: #333;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 0;
}

label {
	cursor: pointer;
}

input, select {
	border: 1px solid #c9c9c9;
	box-sizing: border-box;
	padding: 4px 6px;
	width: 100%;
}

input[type="checkbox"] {
	cursor: pointer;
	margin: 0;
	vertical-align: bottom;
	width: initial;
}

button {
	background-color: #e9e9e9;
	border: 1px solid #c9c9c9;
	cursor: pointer;
	padding: 4px 6px;
}

.input-related {
	margin-top: 10px;
	text-align: right;
}

#controls {
	border-right: 1px solid #c9c9c9;
	margin-right: 20px;
	padding-right: 20px;
	width: 160px;
}